#footer {
  color: @blue;
  font-size: 10pt;
  margin-top: 2em;
  padding: 1em 0;
  height: 2em;
  background: -webkit-gradient(linear,left top,left bottom,from(@light-blue),to(#fff));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(233, 240, 240)), to(rgb(255, 255, 255)));
  background: -moz-linear-gradient(top,@light-blue,#fff);
}

#LoadingScreen {
    text-align: center;
    overflow:hidden;
    top:0px;  
    left:0px;
    background-color: @purple;
    color: #005c73;
    position:absolute;
    width:100%;
    height:100%;
    z-index:99;
    opacity:1.0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0.5s;  
    -moz-transition-property:opacity;
    -moz-transition-duration:0.2s;
    -moz-transition-timing-function:linear;
    -moz-transition-delay:0.5s;  
}